//styling css yang dirasa akan sering digunakan kembali

html{
    height: 100% !important;
    width: 100% !important;
}

body{
    padding: 0;
    margin: 0;

}

footer{
    text-align: center;
    height: 10px;
    width: 100%;
    background-color: center;
    line-height: 1.2;
}