//styling css yang dirasa akan sering digunakan kembali

@import './variable';

html{
    height: 100% !important;
    width: 100% !important;
}

body{
    padding: 0;
    margin: 0;
    font-family: $font-default !important;
}

@mixin igraciasIcon{
    .igracias-icon{
        width: 121px;
        height: 54px;
    }
}

@mixin formField{
    //form input
    .form-floating{
        > .form-control{
            border-radius: 6px !important;
            &:focus{
                box-shadow: none !important;
                border: solid 1px color(primary) !important;
            }
        }

        > label{
            &:focus{
                color: color(primary) !important;
            }
        }
    }

    //button
    .btn{
        border-radius: 6px !important;
        padding: 8px 16px !important;

        &.filled{
            background-color: color(primary);
            color: white;

            &:hover{
                color: rgba($color: #ffffff, $alpha: .8);
            }
        }

        &.bordered{
            background-color: transparent;
            border: solid 1px color(primary);
            color: color(primary);

            &:hover{
                color: white;
                background-color: color(primary);
            }
        }

        &.borderless{
            background-color: transparent;
            border: transparent;
            color: color(primary);
            font-weight: weight(bold);

            &:hover{
                color: color(darken-primary);
            }
        }

        &:focus{
            outline: none !important;
            box-shadow: none !important;
        }
    }

}


footer{
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: white;
    line-height: 1.2;
    font-size: 12px;
}