//variable untuk menyimpan nilai yang siap digunakan



$color: (
    background : #E5E5E5,
    primary: #FE4551,
    darken-primary: #B31E28,
    primary-text: #707070,
    input-border: #C9C9C9
);

$font-weight: (
    light: 400,
    regular: 500,
    bold: 600,
    black: 700
);

$breakpoints : (
    xs: 0, //super kecil
    iphone5: 320px, //ukuran iphone
    s: 576px, //kecil
    md: 768px, //menengah
    lg: 992px, //besar
    xl: 1200px, //sangat besar
    xxl: 1400px // super besar
);

$font-default: 'Poppins';